@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

body {
  font-family: 'open sans', helvetica, arial, sans;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-style {
	height: auto;
	position: relative;
	float: left;
}

.detail-style {
	padding: 20 10 10 10;
}

.logo-image {
	width:112px;
	height:60px;
    border: 0;
    vertical-align: middle;
}

.header {
	background-color:#f5f5f5;
	width: 100%;
}

.center-header {
  vertical-align: middle;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.right-header {
  vertical-align: middle;
  float: right;
}

.side-menu {
	padding: .5em 0 .5em .5em;
}

.logout {
  color: #33d3de;
  line-height: .5em;
  text-decoration: none;
  font-size: .95em;
  margin: 0;
  padding: 10;
  float: right;
}

.logout:hover {
  color: #1ba0a9;
}

.blog-search-title {
  color: #33d3de;
  line-height: .5em;
  text-decoration: none;
  font-size: .95em;
  margin: 0;
  padding: 10;
  float: left;
}

.blog-details {
  line-height: 1.5em;
  text-decoration: none;
  font-size: .95em;
  margin: 0;
  padding: 0 10;
  float: left;
}


.blog-search-title:hover {
  color: #1ba0a9;
}

.blog-content {
    display: block;
    padding: .5em 0 .5em .5em;
    font-weight: normal;
    margin: auto;
}
